body {
    background-image: url("https://res.cloudinary.com/codier/image/upload/v1597993146/pfm6massbguu3zkomgkh.jpg");
    margin: 0;
    font-family: 'Merriweather', serif;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    font-size: 2rem;
}

h2 {
    color: #FFFFFF;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 30px;
}

label{
    color: #FFFFFF;
    font-family: 'Baloo Tamma 2', cursive;
    float: left;

}

p {
    color: #FFFFFF;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 15px;
    padding-top: 20px;
}

.top-container {
    background-color: #218C74;
    position: relative;
    padding-top: 10px;
    padding-bottom: 70px;

}

#middel-container {
    margin: 50px 300px 0 300px;
    padding-bottom: 20px;
    padding-top: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;

}


#bottom-container {
    margin: 50px 300px 30px 300px;
    padding-bottom: 20px;
    padding-top: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.signin1 {
    position: absolute;
    right: 100px;
    top: 15px;
}

.topmain {
    color: #FFFFFF;
    margin: 0;
    position: absolute;
    left: 100px;
    bottom: 15px;
}

input[type=email], [type=password], [type=uname] {
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;

}

.label {
    margin: auto 30px auto 20px;
    font-size: 25px;
}

button {
    margin-top: 20px;
}

.google {
    border-radius: 25px;
    width: 100%;
    background: #E84118;
}



.signin1 {
    background: #FF7B00;
    background-image: -webkit-linear-gradient(top, #FF7B00, #FF7B00);
    background-image: -moz-linear-gradient(top, #FF7B00, #FF7B00);
    background-image: -ms-linear-gradient(top, #FF7B00, #FF7B00);
    background-image: -o-linear-gradient(top, #FF7B00, #FF7B00);
    background-image: linear-gradient(to bottom, #FF7B00, #FF7B00);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

button {
    background: #FF7B00;
    background-image: -webkit-linear-gradient(top, #FF7B00, #FF7B00);
    background-image: -moz-linear-gradient(top, #FF7B00, #FF7B00);
    background-image: -ms-linear-gradient(top, #FF7B00, #FF7B00);
    background-image: -o-linear-gradient(top, #FF7B00, #FF7B00);
    background-image: linear-gradient(to bottom, #FF7B00, #FF7B00);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 25px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-weight: bold;
  }
  