body {
    color: #40514E;    ;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
  }

  h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color:  #66BFBF;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:  #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
  }

  hr {
    border: dotted #EAF6F6 7px;
    border-bottom: none;
    width: 4%;
    margin: 50px, auto, 50px auto;
    
  }

  p {
    line-height: 2;
  }

  .top-container {
    background-color: #E4F9F5;
    padding-top: 100px;
    position: relative;
  }

  .middle-container {
    margin: 100px, 0, 100px 0;
    line-height: 2;
  }

  .bottom-container {
    background-color: #66BFBF;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    line-height: 2;
  }

  .intro {
    width: 30%;
    margin: auto;
  }

  .top-cloud {
    position: absolute;
    top: 50px;
    right: 500px;
  }

  .bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 500px;
  }

  .army {
    text-decoration: underline;
  }

  a {
    color: #11999E;
  }

  .skill-row {
    width: 50%;
    margin: 70px auto 100px auto;
    text-align: left;
  }

  .skill-row1 {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    padding-top: 100px;
    padding-bottom: 70px;
  }


  .fullstuck {
    width: 25%;
    float: right;
    margin-left: 30px;
  }

  .mma {
    width: 25%;
    float: left;
    margin-right: 30px;
  }

  .mma-intro {
    width: 50%;
    margin: auto;
  }

  .profile {
    width: 50%;
    margin: 50px auto 50px auto;
  }

  .me {
    width: 40%;
  }

  .footer-link{
    margin:30px;
    color: #11999E;
  }

  .credits{
    color: #EAF6F6;
  }




  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
