body{
    background-color: black;
}


h1{
    text-align: center;
    margin: auto;
    padding-top: 40px;
    color: white;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 70px;
}

p {
    text-align: center;
    margin: auto;
    padding-top: 10px;
    color: white;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 50px;
}
#maindiv {
    margin: 30px auto 0 auto;
    text-align: center;
    height: 650px;
    width: 650px;
    background-color: gray;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;


}

.square {
    float: left;
    height: 65px;
    width: 65px;
    padding: 0;
}


.star {
    background-image: url("/images/star.png");
    background-size: 23%;
    background-repeat: no-repeat;
    background-position: center;
}

.man {
    background-image: url("/images/man.png");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
}

.ghost {
    background-image: url("/images/ghost.png");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
}

.ghost1 {
    background-image: url("/images/ghost1.png");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
}

.ghost2 {
    background-image: url("/images/ghost2.png");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
}

.ghost3 {
    background-image: url("/images/ghost3.png");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
}

.weakghost {
    background-image: url("/images/weakghost.png");
    background-size: 47%;
    background-repeat: no-repeat;
    background-position: center;
}

.weakghost1 {
    background-image: url("/images/weakghost.png");
    background-size: 47%;
    background-repeat: no-repeat;
    background-position: center;
}

.weakghost2 {
    background-image: url("/images/weakghost.png");
    background-size: 47%;
    background-repeat: no-repeat;
    background-position: center;
}

.weakghost3 {
    background-image: url("/images/weakghost.png");
    background-size: 47%;
    background-repeat: no-repeat;
    background-position: center;
}

.diamond {
    background-image: url("/images/diamond.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
}

.wall {
    background-image: url("/images/wall.png");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
}

.shield {
    background-image: url("/images/shield.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.superhero {
    background-image: url("/images/superhero.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
